:root {
  /* Default theme colors and typography */
  --slidev-theme-primary: #5d8392;
  --slidev-code-font-size: 10px;
  --slidev-code-line-height: 14px;

  --amarula-orange-accent: #fdcb0e;
}

/* Dark mode overrides */
html.dark .slidev-layout {
  color: #cdcdcd;
  background-color: #1e1e1e;
}

.bg-accent {
  background-color: var(--amarula-orange-accent);
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  margin: 8px 4px;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  width: 100%;
  padding: 0px 8px;
  font-size: 12px;
  color: black;
  background-color: var(--amarula-orange-accent);
  display: flex;
  align-items: center;
  text-align: center;
}